body{
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(to right,#f95ce2,#edca11);
}

.container{
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator{
  border: 1px solid lightgray;
  background: whitesmoke;
  border-radius: 5px;
  width: 400px;
  margin: auto;
  padding: 0 25px;
  font-size: 1rem;
  font-weight: 100;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#calculator input{
  box-sizing: border-box;
  width: 90%;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#calculator button{
  width: 10%;
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: whitesmoke;
}

#calculator button:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

#quality{
  width: 100%;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgray;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#tip-amount{
  visibility: hidden;
  min-width: 250px; /* Set a default minimum width */
  margin: auto;
  background: limegreen;
  color: #fff; /* White text color */
  bottom: 30px; /* 30px from the bottom */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#tip-amount.show{
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@media (max-width: 480px){
  .calculator input{
    width: 85%;
  }

  .calculator button{
    width: 15%;
  }
} 

@media (max-width: 320px){
  .calculator input{
    width: 80%;
  }

  .calculator button{
    width: 20%;
  }
} 

